html
  head
    title #{ t('email.confirmModifyPassword.title') }
  body
    h4 #{ t('email.confirmModifyPassword.first') }
      br
      | You can login with the new password by following the link below:
    a(href=""+host+"/"+"auth"+"/login", target="_blank") #{ t('labels.login') }